@charset "UTF-8";
/*
Inspired on the color scheme and the bravoure of dailynerd.nl and lovenonsense.com
Reduced in quality by my own talent
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: white;
  height: 100%;
}

body {
  font: 100%/1.5 "Fedra Sans Screen Regular", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 30.618em) {
  body {
    font-size: .8em;
  }
}

h1, h2, h3, h4, [itemprop="UserComment"] ul, legend {
  font-family: "Charlie Bold", helvetica, arial, sans-serif;
  font-weight: bold;
}

b,
em strong,
th {
  font-family: "Fedra Sans Screen Bold", helvetica, arial, sans-serif;
  font-weight: bold;
  font-style: normal;
}

em, i, footer ul:not(.details) li, q, caption {
  font-family: "Fedra Sans Screen Italic", helvetica, arial, sans-serif;
  font-style: italic;
}

strong {
  font-family: "Fedra Sans Screen Bold Italic", helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

code, pre, kbd {
  font-family: "Fedra Mono Screen Regular";
  font-weight: normal !important;
}

p > code, kbd {
  border: 1px solid #dedede;
  background: #f7f7f7;
  border-radius: 0.188em;
  padding: 0 .2em;
}

abbr {
  text-decoration: none;
  border-bottom: 1px dotted #D42127;
}

abbr[title] {
  cursor: help;
}

mark,
[fragmention] {
  background: yellow;
}

[fragmention] {
  -webkit-animation: fragmentation 3.5s ease both;
  animation: fragmentation 3.5s ease both;
}

@keyframes fragmentation {
  to {
    background: transparent;
  }
}
@-webkit-keyframes fragmentation {
  to {
    background: transparent;
  }
}
/* @group Layout {{{
================================================================= */
body > article,
body > footer,
#home,
body > .prevnext {
  display: -webkit-flex;
  display: flex;
  line-height: 1.458;
}

body > article > *,
body > footer > *,
#home > *,
body > .prevnext > * {
  margin: 0;
  overflow: hidden;
  padding: 0 1.458rem;
  /* @media (min-width: 75em) {
      padding: 3.099363912rem 6.588516227rem;
  } */
}
@media (min-width: 30.618em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 1.458rem 2.125764rem;
  }
}
@media (min-width: 46.656em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 1.458rem 3.099363912rem;
  }
}
@media (min-width: 61.236em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 2.125764rem 4.5188725837rem;
  }
}

body > footer > * {
  padding-top: 4.5188725837em;
  padding-bottom: 1.458em;
}

body > article > h1,
#home > h1,
.e-content > h1,
body > footer > div:first-of-type,
body > .prevnext > div:first-of-type {
  font-size: 3.099363912em;
  background: #037072;
  color: white;
  -webkit-flex: 6.588516227 1 6.588516227px;
  flex: 6.588516227 1 6.588516227px;
  -webkit-order: 1;
  order: 1;
  padding: 0;
}

.e-content > h1 {
  background: inherit;
  color: inherit;
}
@media (max-width: 30.618em) {
  .e-content > h1 {
    padding: 1.458em 0;
  }
}

body > article > div:nth-of-type(1),
#home > section,
body > footer > nav,
body > .prevnext > div:nth-of-type(2) {
  background: #F5F5F5;
  color: black;
  -webkit-flex: 20.4202094277 1 20.4202094277px;
  flex: 20.4202094277 1 20.4202094277px;
  -webkit-order: 3;
  order: 3;
}

#home > section {
  padding: 0.729rem 1.458rem 1.458rem;
}
@media (min-width: 30.618em) {
  #home > section {
    padding: 1.458rem 2.125764rem;
  }
}
@media (min-width: 46.656em) {
  #home > section {
    padding: 1.458rem 3.099363912rem;
  }
}
@media (min-width: 61.236em) {
  #home > section {
    padding: 2.125764rem 4.5188725837rem;
  }
}

body > article > div:last-of-type,
body > footer > div:last-of-type,
body > .prevnext > div:last-of-type,
#home > div {
  background: #D42127;
  -webkit-flex: 1.458 1 1.458px;
  flex: 1.458 1 1.458px;
  -webkit-order: 2;
  order: 2;
  padding: 0;
}

/* @end Layout }}} */
/* @group Header {{{
================================================================= */
body > article > h1,
.e-content > h1,
#home > h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  /* @media (min-width: 75em) {
      padding: 3.099363912rem 1.458rem;
  } */
}
@media (min-width: 30.618em) {
  body > article > h1,
  .e-content > h1,
  #home > h1 {
    padding: 1.458rem 0;
  }
}
@media (min-width: 46.656em) {
  body > article > h1,
  .e-content > h1,
  #home > h1 {
    padding: 1.458rem 0;
  }
}
@media (min-width: 61.236em) {
  body > article > h1,
  .e-content > h1,
  #home > h1 {
    padding: 2.125764rem 0;
  }
}

.e-content > h1 {
  padding: 1.458rem 0;
}
@media (min-width: 46.656em) {
  .e-content > h1 {
    padding: 0 0 1.458rem;
  }
}
@media (min-width: 61.236em) {
  .e-content > h1 {
    padding: 0 0 2.125764rem;
  }
}

body > article h1 span,
#home > h1 span {
  display: block;
  white-space: nowrap;
  padding: 0.729rem;
  -webkit-transform: rotate(90deg) translate(calc(-1.458rem - 1em), 0);
  transform: rotate(90deg) translate(-1.5em, 0);
  transform: rotate(90deg) translate(calc(-1.458rem - 1em), 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

body > article h1 a,
#home > h1 a,
body > article h1 a:visited,
#home > h1 a:visited {
  color: white;
  text-decoration: none;
}

body > article > h1 a:last-child:hover,
body > article > h1 a:last-child:focus,
#home > h1 a:last-child:hover,
#home > h1 a:last-child:focus {
  color: white;
  background: none;
}

body > article h1 a:first-child:hover,
body > article h1 a:first-child:focus {
  box-shadow: -0.3em 0 0 black;
}

/* @end Header }}} */
/* @group Content {{{
================================================================= */
#home > section > article {
  margin: 0 0 3.099363912em;
}

#home > section > article footer:before,
.e-content > footer:before {
  content: ' ';
  border-bottom: 1px solid #D42127;
  width: 100%;
  max-width: 23em;
  display: block;
}

#home > section > article footer {
  margin: 1em 0;
}

#home > section > article footer ul {
  margin: .25em 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #home > section > article footer:before {
    -webkit-transform: scale(1, 0.5);
    -webkit-transform-origin: 0 0;
    transform: scale(1, 0.5);
    transform-origin: 0 0;
  }
}
div > p:first-child {
  margin: .5em 0 1em;
}

a {
  color: blue;
}

a:visited {
  color: #639;
}

.details a,
.more-link,
#home > section > article footer a {
  color: black;
}

a:hover,
a:focus,
#home article h1 a:hover,
#home article h1 a:focus,
#home > section > article footer a:hover,
#home > section > article footer a:focus,
.details a:hover,
.details a:focus {
  color: #F5F5F5;
  background: black;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1 + p,
h2 + p,
h3 + p,
h2 + ul,
h3 + ul {
  margin: -1em 0 1em;
}

h3 {
  font-size: 1em;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

figure {
  background: #f7f7f7;
  border: solid #dedede;
  border-width: 1px 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 2em 0 2em -2.125764rem;
  width: calc(100% + 4.251528rem);
}
@media (min-width: 30.618em) {
  figure {
    margin: 2em 0 2em -2.125764rem;
    width: calc(100% + 4.251528rem);
  }
}
@media (min-width: 46.656em) {
  figure {
    margin: 2em 0 2em -3.099363912rem;
    width: calc(100% + 6.198727824rem);
  }
}
@media (min-width: 61.236em) {
  figure {
    margin: 2em 0 2em -4.5188725837rem;
    width: calc(100% + 9.0377451674rem);
  }
}

figure img {
  height: auto;
  width: auto;
  max-width: 100%;
}

figure audio {
  margin: 1.458em;
}

figure > p {
  display: none;
}

figcaption {
  position: relative;
  width: 100%;
  border: solid #dedede;
  border-width: 1px 0 0;
  padding: 0 1.458rem;
}
@media (min-width: 30.618em) {
  figcaption {
    padding: 0 2.125764rem;
  }
}
@media (min-width: 46.656em) {
  figcaption {
    padding: 0 3.099363912rem;
  }
}
@media (min-width: 61.236em) {
  figcaption {
    padding: 0 4.5188725837rem;
  }
}
figcaption small {
  position: absolute;
  right: 0;
  bottom: 100%;
  background: #f7f7f7;
  padding: 0 .1em;
}

p, ul, ol, blockquote, #home article h1, h3, h2, textarea, input:not([type="submit"]), img {
  max-width: 33.534em;
}

blockquote {
  font-size: 1.458em;
  margin: 0;
  padding: 0;
}
@media (max-width: 77.274em) {
  blockquote p {
    line-height: 1.4;
    text-align: left;
  }
}

blockquote > :first-child::before {
  content: '“';
  position: absolute;
  margin-left: -.4em;
}

blockquote > :last-child::after {
  content: '”';
  position: absolute;
  margin-left: .25em;
}

[itemprop="commentText"] blockquote {
  font-size: inherit;
  font-family: "Fedra Sans Screen Italic", helvetica, arial, sans-serif;
  font-style: italic;
}

ins {
  text-decoration: none;
  background: yellow;
}

#home article h1 {
  margin: 0;
  border-bottom: 1px solid #D42127;
}

#home article h1 a {
  text-decoration: none;
  color: black;
}

#home article h1 a:hover,
#home article h1 a:focus {
  box-shadow: -0.3em 0 0 black, 0.3em 0 0 black, -0.3em 1px 0 #D42127, 0.3em 1px 0 #D42127;
}

h2,
legend,
#home article h1 {
  font-size: 2.125764em;
  line-height: 1.2;
  font-weight: bold;
}

h3,
[itemprop="UserComment"] ul {
  font-size: 1.458em;
}

[itemprop="UserComment"] {
  margin: 2.125764em 0;
}

article aside,
article > div > section {
  margin: 4.5188725837em 0;
}

body > article > div > p:first-child {
  font-size: 1.458em;
  margin: .5em 0 1em;
}
@media (max-width: 77.274em) {
  body > article > div > p:first-child {
    line-height: 1.4;
    text-align: left;
  }
}
@media (max-width: 34.992em) {
  body > article > div > p:first-child {
    font-size: 1em;
    font-family: "Fedra Sans Screen Bold", helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: inherit;
  }
  body > article > div > p:first-child em, body > article > div > p:first-child i {
    font-family: "Fedra Sans Screen Bold Italic", helvetica, arial, sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  body > article > div > p:first-child b {
    font-family: "Fedra Sans Screen", helvetica, arial, sans-serif;
    font-weight: normal;
  }
}

input, textarea {
  border: 1px solid #D42127;
  padding: 0.3645em;
}

ul {
  margin: 1em 0;
  padding: 0;
}

article > div > section ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li {
  display: inline-block;
  list-style: none;
}

footer .details cite {
  font-style: normal;
}

footer cite:before {
  content: "Written by ";
}

article > div [itemprop="UserComment"] footer cite:before {
  content: "";
}

article > div [itemprop="UserComment"] footer cite:after {
  content: " wrote ";
}

footer time:before {
  content: " on ";
}

[itemprop="UserComment"] ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  margin: 0 0 1em;
  font-size: inherit;
  font-family: inherit;
  background: white;
  line-height: inherit;
  width: 100%;
  border-radius: .2em;
}
@media (max-width: 30.618em) {
  input,
  textarea {
    font-size: 1.3em;
  }
}

[type="submit"] {
  background: auto;
  width: auto;
}

textarea {
  height: 10em;
}

.yarpp-related ol {
  margin: 1em 0;
  padding: 0;
}

.yarpp-related ol li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

table {
  margin: 1.458em 0;
  caption-side: bottom;
}

caption,
th,
td {
  text-align: left;
  padding: 0.4374em;
}

td.num {
  text-align: right;
}

th, td {
  border-bottom: 1px solid #D42127;
  vertical-align: top;
}

/* @end Content }}} */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: "Fedra Mono Screen Regular", Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f7f7f7;
  border: 1px solid #dedede;
  border-radius: 0.188em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
