@charset "UTF-8";
/*
Maarten P. Kappert suggested this colour scheme and ratio
How could I ignore a suggestion by such a talented designer?
*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: white;
  height: 100%;
}

body {
  font: 100%/1.5 "Fedra Sans Screen Regular", helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 31.5em) {
  body {
    font-size: .8em;
  }
}

h1, h2, h3, h4, [itemprop="UserComment"] ul, legend {
  font-family: "Charlie Bold", helvetica, arial, sans-serif;
  font-weight: bold;
}

b {
  font-family: "Fedra Sans Screen Bold", helvetica, arial, sans-serif;
  font-weight: bold;
}

em, i, footer ul:not(.details) li {
  font-family: "Fedra Sans Screen Italic", helvetica, arial, sans-serif;
  font-style: italic;
}

strong {
  font-family: "Fedra Sans Screen Bold Italic", helvetica, arial, sans-serif;
  font-style: italic;
  font-weight: bold;
}

code, pre, kbd {
  font-family: "Fedra Mono Screen Regular";
  font-weight: normal !important;
}

p > code, kbd {
  border: 1px solid #dedede;
  background: #f7f7f7;
  border-radius: 0.188em;
  padding: .2em;
}

/* @group Layout {{{
================================================================= */
body > article,
body > footer,
#home,
body > .prevnext {
  display: -webkit-flex;
  display: flex;
  line-height: 1.5;
}

body > article > *,
body > footer > *,
#home > *,
body > .prevnext > * {
  margin: 0;
  overflow: hidden;
  padding: 0 1.5rem;
  /* @media (min-width: 75em) {
      padding: 3.375rem 7.59375rem;
  } */
}
@media (min-width: 31.5em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 1.5rem 2.25rem;
  }
}
@media (min-width: 48em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 1.5rem 3.375rem;
  }
}
@media (min-width: 63em) {
  body > article > *,
  body > footer > *,
  #home > *,
  body > .prevnext > * {
    padding: 2.25rem 5.0625rem;
  }
}

body > footer > * {
  padding-top: 5.0625em;
  padding-bottom: 1.5em;
}

body > article > h1,
#home > h1,
body > footer > div:first-of-type,
body > .prevnext > div:first-of-type {
  font-size: 3.375em;
  background: #1c2336;
  color: white;
  -webkit-flex: 3.375 1 3.375px;
  flex: 3.375 1 3.375px;
  -webkit-order: 2;
  order: 2;
  padding: 0;
}

body > article > div:nth-of-type(1),
#home > section,
body > footer > nav,
body > .prevnext > div:nth-of-type(2) {
  background: white;
  color: #464747;
  -webkit-flex: 7.59375 1 7.59375px;
  flex: 7.59375 1 7.59375px;
  -webkit-order: 3;
  order: 3;
}

#home > section {
  padding: 0.75rem 1.5rem 1.5rem;
}
@media (min-width: 31.5em) {
  #home > section {
    padding: 1.5rem 2.25rem;
  }
}
@media (min-width: 48em) {
  #home > section {
    padding: 1.5rem 3.375rem;
  }
}
@media (min-width: 63em) {
  #home > section {
    padding: 2.25rem 5.0625rem;
  }
}

body > article > div:last-of-type,
body > footer > div:last-of-type,
body > .prevnext > div:last-of-type,
#home > div {
  background: #25716e;
  -webkit-flex: 1.5 1 1.5px;
  flex: 1.5 1 1.5px;
  -webkit-order: 1;
  order: 1;
  padding: 0;
}

/* @end Layout }}} */
/* @group Header {{{
================================================================= */
body > article > h1,
#home > h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  /* @media (min-width: 75em) {
      padding: 3.375rem 1.5rem;
  } */
}
@media (min-width: 31.5em) {
  body > article > h1,
  #home > h1 {
    padding: 1.5rem 0;
  }
}
@media (min-width: 48em) {
  body > article > h1,
  #home > h1 {
    padding: 1.5rem 0;
  }
}
@media (min-width: 63em) {
  body > article > h1,
  #home > h1 {
    padding: 2.25rem 0;
  }
}

body > article h1 span,
#home > h1 span {
  display: block;
  white-space: nowrap;
  padding: 0.75rem;
  -webkit-transform: rotate(90deg) translate(calc(-1.5rem - 1em), 0);
  transform: rotate(90deg) translate(-1.5em, 0);
  transform: rotate(90deg) translate(calc(-1.5rem - 1em), 0);
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

body > article h1 a,
#home > h1 a,
body > article h1 a:visited,
#home > h1 a:visited {
  color: white;
  text-decoration: none;
}

body > article > h1 a:last-child:hover,
body > article > h1 a:last-child:focus,
#home > h1 a:last-child:hover,
#home > h1 a:last-child:focus {
  color: white;
  background: none;
}

body > article h1 a:first-child:hover,
body > article h1 a:first-child:focus {
  box-shadow: -0.3em 0 0 #464747;
}

body > article h1 a:first-child:after {
  content: ': ';
}

/* @end Header }}} */
/* @group Content {{{
================================================================= */
#home > section > article {
  margin: 0 0 3.375em;
}

#home > section > article footer:before,
.e-content > footer:before {
  content: ' ';
  border-bottom: 1px solid #25716e;
  width: 100%;
  max-width: 23em;
  display: block;
}

#home > section > article footer {
  margin: 1em 0;
}

#home > section > article footer ul {
  margin: .25em 0;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #home > section > article footer:before {
    -webkit-transform: scale(1, 0.5);
    -webkit-transform-origin: 0 0;
    transform: scale(1, 0.5);
    transform-origin: 0 0;
  }
}
div > p:first-child {
  margin: .5em 0 1em;
}

a {
  color: blue;
}

a:visited,
.details a,
.more-link,
#home > section > article footer a {
  color: #464747;
}

a:hover,
a:focus,
#home article h1 a:hover,
#home article h1 a:focus,
#home > section > article footer a:hover,
#home > section > article footer a:focus,
.details a:hover,
.details a:focus {
  color: white;
  background: #464747;
}

p {
  margin: 1em 0;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

h1 + p,
h2 + p,
h3 + p,
h2 + ul,
h3 + ul {
  margin: -1em 0 1em;
}

h3 {
  font-size: 1em;
}

img {
  height: auto;
  display: block;
  width: 100%;
}

p, ul, ol, blockquote, #home article h1, h3, h2, textarea, input:not([type="submit"]), img {
  max-width: 34.5em;
}

blockquote {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}
@media (max-width: 79.5em) {
  blockquote p {
    line-height: 1.4;
    text-align: left;
  }
}

blockquote > :first-child::before {
  content: '“';
  position: absolute;
  margin-left: -.4em;
}

blockquote > :last-child::after {
  content: '”';
  position: absolute;
  margin-left: .25em;
}

ins {
  text-decoration: none;
  background: yellow;
}

#home article h1 {
  margin: 0;
  border-bottom: 1px solid #25716e;
}

#home article h1 a {
  text-decoration: none;
  color: #464747;
}

#home article h1 a:hover,
#home article h1 a:focus {
  box-shadow: -0.3em 0 0 #464747, 0.3em 0 0 #464747, -0.3em 1px 0 #25716e, 0.3em 1px 0 #25716e;
}

h2,
legend,
#home article h1 {
  font-size: 2.25em;
  line-height: 1.2;
  font-weight: bold;
}

h3,
[itemprop="UserComment"] ul {
  font-size: 1.5em;
}

[itemprop="UserComment"] {
  margin: 2.25em 0;
}

article aside,
article > div > section {
  margin: 5.0625em 0;
}

body > article > div > p:first-child {
  font-size: 1.5em;
  margin: .5em 0 1em;
}
@media (max-width: 79.5em) {
  body > article > div > p:first-child {
    line-height: 1.4;
    text-align: left;
  }
}
@media (max-width: 36em) {
  body > article > div > p:first-child {
    font-size: 1em;
    font-family: "Fedra Sans Screen Bold", helvetica, arial, sans-serif;
    font-weight: bold;
    line-height: inherit;
  }
  body > article > div > p:first-child em, body > article > div > p:first-child i {
    font-family: "Fedra Sans Screen Bold Italic", helvetica, arial, sans-serif;
    font-style: italic;
    font-weight: bold;
  }
  body > article > div > p:first-child b {
    font-family: "Fedra Sans Screen", helvetica, arial, sans-serif;
    font-weight: normal;
  }
}

input, textarea {
  border: 1px solid #25716e;
  padding: 0.375em;
}

ul {
  margin: 1em 0;
  padding: 0;
}

article > div > section ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

footer li {
  display: inline-block;
  list-style: none;
}

footer .details cite {
  font-style: normal;
}

footer cite:before {
  content: "Written by ";
}

article > div [itemprop="UserComment"] footer cite:before {
  content: "";
}

article > div [itemprop="UserComment"] footer cite:after {
  content: " wrote ";
}

footer time:before {
  content: " on ";
}

[itemprop="UserComment"] ul {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

label {
  display: block;
}

input,
textarea {
  display: block;
  margin: 0 0 1em;
  font-size: inherit;
  font-family: inherit;
  background: white;
  line-height: inherit;
  width: 100%;
  border-radius: .2em;
}
@media (max-width: 31.5em) {
  input,
  textarea {
    font-size: 1.3em;
  }
}

[type="submit"] {
  background: auto;
  width: auto;
}

textarea {
  height: 10em;
}

.yarpp-related ol {
  margin: 1em 0;
  padding: 0;
}

.yarpp-related ol li {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}

/* @end Content }}} */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}
/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.builtin {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: #a67f59;
  background: rgba(255, 255, 255, 0.5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.regex,
.token.important {
  color: #e90;
}

.token.important {
  font-weight: bold;
}

.token.entity {
  cursor: help;
}
