/*
Inspired on the color scheme and the ratio of ia.net
Reduced in quality by my own talent
*/

// colors
$c-heading: #fff;
$c-div: #000;
$c-content: #fff;
$h-color: black;
$c-color: black;

// measures
$unit : 1.5;

// ratio for heading, div and content
$p-h: 2;
$p-c: 4;
$p-d: 1;

// Order of heading, div and content
$o-h: 2;
$o-c: 3;
$o-d: 1;

// size of headings is calculated like power($unit, $s-h1);
$s-h1 : 3;
$s-h2 : 2;
$s-h3 : 1;


@import "style.scss";
