* {
  -moz-box-sizing: border-box;
}

html {
  background: white;
  height: 100%;
}

body {
  font: 100%/1.5 helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

article {
  display: flex;
}

h1 {
  margin: 0;
  padding: 0;
}

article h1 a {
  display: block;
  white-space: nowrap;
  -webkit-transform-origin: 0 100%;
  transform-origin: 0 100%;
}

div > p:first-child {
  margin: .5em 0 1em;
}
