/*
Inspired on the color scheme and the bravoure of http://trentwalton.com/2013/08/12/human-interest/
Reduced in quality by my own talent
*/

// colors
$c-heading: #C0D3D2;
$c-div: #F63D46;
$c-content: #fff;
$h-color: white;
$c-color: black;

// measures
$unit : 1.732;

// ratio for heading, div and content
$p-h: 6;
$p-c: 8;
$p-d: 1;

// Order of heading, div and content
$o-h: 1;
$o-c: 2;
$o-d: 3;

// size of headings is calculated like power($unit, $s-h1);
$s-h1 : 3;
$s-h2 : 2;
$s-h3 : 1;


@import "style.scss";
