* {
    -moz-box-sizing: border-box;
}
html {
    background: white;
    height: 100%;
}
body {
    font: 100%/1.5 helvetica, arial, sans-serif;
    margin: 0;
    padding: 0;
}

article {
    line-height: 1.732;
    margin: 0 0 0 9.7%;
    padding: 0 0 0 3.2%;
}
article > * {
    padding: 0 1.732rem;
    margin: 0;
    overflow: hidden;
}
h1 {
    padding: .866rem 1.732rem;
    font-size: 2.99982em;
    line-height: 1;
}
h1 a {
    text-decoration: none;
}
p {
    max-width: 39.836em;
    margin: 1em 0;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}
h2 + p,
h3 + p {
    margin: -1em 0 1em;;
}
h2 {
    max-width: 39.836em;
    font-size: 1.732em;
}
h3 {
    max-width: 39.836em;
    font-size: 1em;
}



    article {
        display: -webkit-flex;
        display: flex;
        margin: 0;
        padding: 0;
    }
    article > h1 {
        -webkit-flex: 26.9952 1 26.9952px;
        flex: 26.9952 1 26.9952px;
        padding: 0;
        margin: 0;
    }
    article h1 a {
        padding: .866rem;
        display: block;
        white-space: nowrap;
        -webkit-transform: rotate(90deg) translate(calc(-1.732rem - 1em), 0);
        -webkit-transform-origin: 0 100%;
        transform: rotate(90deg) translate(calc(-1.732rem - 1em), 0);
        transform-origin: 0 100%;
    }
    article > div:nth-of-type(1) {
        -webkit-flex: 80.980993672639 1 80.980993672639px;
        flex: 80.980993672639 1 80.980993672639px;
    }
    article > div + div {
        -webkit-flex: 2.999824 1 2.999824px;
        flex: 2.999824 1 2.999824px;
        padding: 0;
    }
    div > p:first-child {
        font-size: 173.2%;
        margin: .5em 0 1em;
    }
    h1 {
        font-size: 5.195695168em;
    }
    h2 {
        font-size: 2.99982em;
    }
    h3 {
        font-size: 1.732em;
    }


/* @group green green aubergine {{{
================================================================= */

	.gga body {
        background: #303725;
    }
    .gga article {
        background: #364F20;
    }
    .gga article > * {
        background: #3C3845;
        color: white;
    }
    .gga h1 a {
        color: white
    }

        .gga article > h1 {
            background: #303725;
            -webkit-order: 1;
            order: 1;
        }
        .gga article > div {
            background: #3C3845;
            -webkit-order: 2;
            order: 2;
        }
        .gga article > div + div {
            background: #364F20;
            -webkit-order: 1;
            order: 1;
        }
    @media (max-width: 30em) {
        body {
            font-size: .8em;
        }
    }

/* @end green green aubergine }}} */
